---
layout: base
permalink: /index.html
title: 'Allard de Winter''s Insights & Bookmarks'
description: 'Exploring the intersection of technology, strategic thinking, and a positive mindset.'
blog:
  title: 'Latest Posts'
  intro: "Here are the most recent posts. Dive in to explore insights on technology, strategy, and mindset. <a href="/blog/">See all posts.</a>"
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h3>{{ description }}</h3>
      <p>
        Welcome to my 'linkblog'; a space for exploring technology, strategic thinking, and a positive mindset. Here, I share insights, bookmarks, and reflections inspired by approaches like Simon Willison's linkblogging, Will Larsen's strategic perspectives, and Michael Pilarczyk's philosophy. My aim is to explore building robust systems both in organisations and tech, making effective decisions, and cultivating a resilient, optimistic outlook. Learn more about the site and my background on the <a href="/about/">About page</a>.
      </p>
    </div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
                                        {% asyncEach item in itemList.slice(0, 6) %}
            {% set headingLevel = "h3" %}
                                                {% include "partials/card-blog.njk" %}
                                        {% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
